---
import Layout from '../layouts/Layout.astro'
import Project from '../components/project.astro'
import Link from '../components/link.astro'
import { Linkedin, Github } from 'lucide-astro'
import projects from '../projects.json'
import '@fontsource-variable/raleway'
---
<Layout title="Hi, I'm Toby" description="Hi, I'm Toby, a Computer Science student at the University of Leeds.">
    <main class="flex flex-col grow">
        <div class="flex flex-col bg-fg p-10 gap-2">
            <h1 class="text-xl font-medium text-text-secondary">
                Hi, I'm Toby.
            </h1>
                <h2 class="text-3xl max-w-5xl font-medium">
                I'm currently an undergrad computer science student at the University of Leeds, graduating in 2026.
                </h2>
                <h3 class="text-lg font-medium text-text-secondary max-w-5xl">
                Creating web applications is a passion of mine, and as a full-stack developer, I have experience with Next, tRPC, Prisma, Tailwind, and Typescript.
                However, I love learning new technologies and am always looking to expand my skillset. 
                I'm currently using Go as part of my latest project and really starting to love it.
                </h3>
                <div class="flex gap-2 pt-2 text-text-secondary">
                    <Link
                        href="https://github.com/tobyrushton"
                        alt="Link to my GitHub profile" 
                    >
                    <Github size="24" />
                </Link>
                    <Link
                        href="https://www.linkedin.com/in/tobyrushton/"
                        alt="Link to my LinkedIn profile"
                    >
                    <Linkedin size="24" />
                </Link>
                </div>
        </div>
        <div class="grid gap-4 p-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3">
            <h2 class="text-xl pl-5 py-2 sm:col-span-2 md:col-span-3">
                My Projects
            </h2>
            {
                projects.map((project) => (
                    <Project
                        title={project.name}
                        link={project.link}
                        repository={project.repository}
                    >
                        {project.description}
                    </Project>
                ))
            }
        </div>
    </main>
</Layout>
