---
interface Props {
    title: string
	description: string
}

const { title, description } = Astro.props
---
<html lang="en-gb">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
	</head>
	<body class="mx-auto bg-bg min-h-screen text-white max-w-3xl">
		<slot />
		<footer class="sticky top-[100vh]">
            <div class="p-6 text-text-secondary text-xs">
                <p>
                    © {new Date().getFullYear()} Toby Rushton
                </p>
            </div>
        </footer>
	</body>
</html>